
<div align="center">
    <h1>Rechercher un livre par auteur</h1>
<form action="/api/v2/search" method="GET">
    <input type="text" name="author" placeholder="Rechercher un livre par auteur">
    <button type="submit">Rechercher</button>
</form>


<h1>Ajouter livre</h1>
    <form action="/addbook" method="POST">

            <input type="text" name="title", placeholder="title">
            <input type="text" name="author", placeholder="author">
            <input type="text" name="year", placeholder="year">
    <button type="submit">Enregistrer</button>
</form>

</div>



